@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-y: auto;
  background-color: #f9fafa;
  margin: 0 auto;
}

/* ::-webkit-scrollbar {
  display: none;
} */
