@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f9fafa;
  margin: 0 auto;
}

html {
  min-height: 100%;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
